.button {
    background-color: #FFFFFF;
    border: 1px solid #959da4;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 8px;
    padding: 8px;
    position: relative;

    &:hover {
        background-color: green;
        border: 1px solid green;
        color: #FFFFFF;
    }

    &:disabled {
        background-color: lightgray;
        border: 1px solid #959da4;
        color: gray;
    }
}
