@import "_reset.scss";

body, html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #FFFFFF;
    color: #3d3f41;
    font-size: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-setif';
    font-weight: 400;
    position: relative;
}
