@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.home {
  overflow: hidden;

  &__container {
    position: relative;
  }

  &__mobile-button {
    display: none;

    .button {
      background-color: $brand;
      color: $white;
      font-weight: bold;
      font-size: 14px;
    }
    @include mobile {
      align-items: center;
      bottom: 80px;
      display: flex;
      justify-content: center;
      position: fixed;
      width: 100%;
      z-index: 150;
    }
  }
}
