.sidebar {
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 320px;
    height: 100%;
    background-color: #a7acb0;
    transform: translateX(-400px);
    transition: transform 0.2s cubic-bezier(0,0.5,1,1);
    z-index: 10;
    overflow: hidden;

    & ::-webkit-scrollbar {
        width: 0px;
    }

    &--open {
        transform: translateX(0);
    }

    &__container {
        overflow-y: scroll;
        height: 100%;
    }
}