.sidebar {
    background-color: #a7acb0;
    height: 100%;
    left: 0;
    max-width: 320px;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    top: 0;
    transform: translateX(-400px);
    transition: transform 0.2s cubic-bezier(0,0.5,1,1);
    z-index: 10;

    & ::-webkit-scrollbar {
        width: 0px;
    }

    &--open {
        transform: translateX(0);
    }

    &__container {
        height: 100%;
        overflow-y: scroll;
    }
}
